.global-custom-table{
	td, th{
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	th:first-child, td:first-child {
			}

	th:last-child, td:last-child {
		padding-right: 24px !important;
	}

	.payment-method-td{
		max-width: 70px;
	}

	#content-right{
		justify-content: end;
	}

	.center-prepend-icon{
		// .v-input__icon--prepend{
		// 	height: 16px !important;
		// }
		input{
			margin-top: 0px !important;
		}
		.v-input__append-inner{
			margin-top: 3px !important;
		}

		.v-input__slot{
			min-height: 35px !important;
		}

		.v-input__prepend-outer{
			margin-top: 2px !important;
		}
		.v-input__control{
			font-size: 14px !important;
		}

		.v-input__icon{
			opacity: 0.3;
		}
	}

	.mb-icon{
		i{
			margin-bottom: 3px !important;
		}
	}

	.hover-icon{
		&:hover{
	      	color: blue;
	    }
	}
}


.custom-table-order{
	
	th:last-child, td:last-child {
		padding-right: 24px !important;
	}

	.payment-method-td{
		max-width: 70px;
	}

	#content-right{
		justify-content: end;
	}

	

	.center-prepend-icon{
		// .v-input__icon--prepend{
		// 	height: 16px !important;
		// }
		input{
			margin-top: 0px !important;
		}
		.v-input__append-inner{
			margin-top: 3px !important;
		}

		.v-input__slot{
			min-height: 35px !important;
		}

		.v-input__prepend-outer{
			margin-top: 2px !important;
		}
		.v-input__control{
			font-size: 14px !important;
		}

		.v-input__icon{
			opacity: 0.3;
		}
	}

	.mb-icon{
		i{
			margin-bottom: 3px !important;
		}
	}

	.hover-icon{
		&:hover{
	      	color: blue;
	    }
	}
}

.global-custom-table-photo-package{
	td, th{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	th:first-child, td:first-child {
		padding-left: 24px !important;
	}

	th:last-child, td:last-child {
		padding-right: 24px !important;
	}

	.payment-method-td{
		max-width: 70px;
	}

	#content-right{
		justify-content: end;
	}

	.center-prepend-icon{
		// .v-input__icon--prepend{
		// 	height: 16px !important;
		// }
		input{
			margin-top: 0px !important;
		}
		.v-input__append-inner{
			margin-top: 3px !important;
		}

		.v-input__slot{
			min-height: 35px !important;
		    min-width: 65px !important;
    		margin: 0px 5px;
		}

		.v-input__prepend-outer{
			margin-top: 2px !important;
		}
		.v-input__control{
			font-size: 14px !important;
		}

		.v-input__icon{
			opacity: 0.3;
		}
	}

	.mb-icon{
		i{
			margin-bottom: 3px !important;
		}
	}

	.hover-icon{
		&:hover{
	      	color: blue;
	    }
	}
}	