.position-relative{
  position: relative !important;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item-title{
  width: 35% !important;
  margin-left: 10px !important;
}

.item-title-setting{
  width: 63% !important;
  margin-left: 10px !important;
}

.contain-text-field-setting{
  width: 25% !important;
  .v-input--selection-controls {
    margin-top: 0 !important; 
    padding-top: 0 !important; 
  }
  .v-input__slot{
    margin-bottom: 5px !important;
  }
}

.contain-text-field{
  width: 65%;
  .v-input--selection-controls {
    margin-top: 0 !important; 
    padding-top: 0 !important; 
  }
  .v-input__slot{
    margin-bottom: 5px !important;
  }
}

.no-mg-horizontal{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.content-flex{
	display: flex;
  justify-content: start;
  align-items: center;
}

.content-flex-end{
  display: flex;
  justify-content: start;
  align-items: baseline;
  padding-top: 15px;
  position: relative;
}

.custom-title{
	align-items: end;
	height: 60px !important;
}

.custom-height{
	height: 100% !important;
}

.flex-end{
  justify-content: flex-end;
}

.height-80{
  .v-list__tile{
    height: 80px !important;
  }
}

.height-150{
  .v-list__tile{
    height: 150px !important;
  }
}

.height-50{
  .v-list__tile{
    height: 50px !important;
  }
}

.v-list__tile__title{
    width: auto !important;
}

.height-120{
  .v-list__tile{
    height: 120px !important;
  }
}

.height-200{
  .v-list__tile{
    height: 200px !important;
  }
}

.height-input{
  .v-input__slot{
    min-height: 47px !important;
    height: 47px !important;
  }
  input, .v-select__slot{
    position:relative;
    top: -10px;
  }
}

.position-item{
  position:relative;
  top: -10px;
}

.heigth-list-title{
  flex:1;
  overflow: auto;
  .v-list__tile{
    height: 43px;
  }
}

.height-area{
  .v-input__slot{
    min-height: 115px !important;
    height: 115px !important;
    textarea{
      padding-top: 5px !important;
    }
  }
}

.height-100{
   .v-list__tile{
    height: 100% !important;
  }
}

.position-item-amount{
  position: relative;
  bottom: 22px;
}