.plr-0{
	.v-toolbar__content{
		padding-left: 0;
		padding-right: 0;
	}
}

.custom-header{
	display:flex;
	/*// justify-content:center;*/
	align-items:center;
}

.app-changepass{
    padding: 100px 0px;
    overflow:none;
}

.row-changepass{
	width: 40%;
	margin: 0 auto;
}

@media (max-width: 767px) {
    .row-changepass{
		width: 60%;
		margin: 0 auto;
	}
}

@media (max-width: 565px) {
    .row-changepass{
		width: 70%;
		margin: 0 auto;
	}
}

.custom-table{
	thead th:not(:nth-child(1)){
		padding: 0 13px !important;
	}
}


.width-input{
  .v-input__slot{
    min-width: 140px !important;
    width: 140px !important;
    
    text-align:left !important;
    
  }
}

.custom-table-zoom {
	table.v-table thead td:not(:nth-child(1)), table.v-table tbody td:not(:nth-child(1)), table.v-table thead th:not(:nth-child(1)), table.v-table tbody th:not(:nth-child(1)), table.v-table thead td:first-child, table.v-table tbody td:first-child, table.v-table thead th:first-child, table.v-table tbody th:first-child {
	    padding: 0 4px;
	}
}

.custom-table-customer{

	thead th:not(:nth-child(1)){
		padding: 0 0px !important;
		text-align:center !important;
		
	}

	tbody td:not(:nth-child(1)){
		padding: 0 6px !important;
		text-align:center !important;
	}
}
	
@media (max-width: 1366px) {
    .action-width{
		text-align:center;
		margin-left:5px;
		padding: 0px 10px !important;
	}
}

.action-width{
	text-align:center;
	margin-left:5px;
	padding: 0px 10px !important;
}

.btn-customer{
	min-width: 61px;
}

.height-input-customer{
  .v-input__slot{
    min-height: 40px !important;
    height:40px !important;
    top: 9px !important;
    position: relative;
	}
}
.fix-contain-text-field{
	.v-input__slot{
    	align-items: end !important;
  	}
}

.custom-height-package{
  .v-input__slot{
    min-height: 40px !important;
    height: 40px !important;

  }
  input, .v-select__slot{
    position:relative;
    top: -10px;
  }
  .v-input__append-inner{
  margin-top:0px !important;
  }
}


.custom-table-sale{
	thead th:not(:nth-child(1)){
		padding: 0 10px !important;
	}
}

.custom-height-td-package{
	padding:0px 0px !important;
	.custom-height-package{
	  .v-input__slot{
	    min-height: 40px !important;
	    height: 40px !important;
	  }
	  input, .v-select__slot{
	    position:relative;
	    top: -10px;
	    margin-top: 0px !important;
	  }
	}
}
.custom-height-td-package{
	padding:0px 0px !important;
}

.center-input-customer{
	.v-input__slot {
	    margin: 0px auto;
	}
	.v-text-field__slot input{
		margin-top: inherit;
	}
}

.custom-v-icon{
	line-height:unset !important;
	margin-top: 4px !important;
	font-size:16px;
}

.custom-v-select{
	.height-input-customer {
		.v-select__selections {
			padding-top: 0px !important; 
			font-size:15px !important;
		}
		.v-input__append-inner{
			margin-top: 6px !important;
		}
	}
	
}

.custom-btn{
   	display:block;
  	height: 40px;
  	width: 40px;
  	border-radius: 50%;
  	padding-top: 5px !important;
  	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}

.grid-template-column{
	grid-template-columns: none !important;
}

.custom-stats-card{
	.v-card__text {
		padding: 10px 15px !important;
	}

	.v-input .v-text-field{
		padding-top: 5px !important;
	}
}

.fix-croll-container{
	overflow:hidden !important;
}

.app-card{
	box-shadow: none !important;
}

.btn-primary{
	 border:none !important;
}

.btn-add {
	padding-top:1px !important;
}


.custom-flex-appcard{
	.app-card-content {

	display: flex !important;
	height: 80px !important;
	}
}

.fix-flex-photographer{
	margin-left:30px !important;
}

.search-photographer{
	color:black;
	.v-input__slot {
		background-color:white !important;
		color:black;
	}
	.v-input__control{
		.v-text-field__slot input{
			color: black;
		}
		
	}
}

.custom-profile-body{
	.layout {
		.flex{
			display: grid !important;
		}
	}
}

.btn-add-photographer{
	.v-btn {
		width: 115px !important;
		right: 0px;
	    position: absolute;
	    margin-right: 45px;
	}
}

.media-image {
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top:5px;
}


.active-list-title{
	background: rgba(0,0,0,0.05);
}

.label-mb-0{
	label{
		margin-bottom: 0 !important;
	}
}

