.plr-0{
	.v-toolbar__content{
		padding-left: 0;
		padding-right: 0;
	}
}

.custom-header{
	display:flex;
	/*// justify-content:center;*/
	align-items:center;
}

.app-changepass{
    padding: 100px 0px;
    overflow:none;
}

.row-changepass{
	width: 40%;
	margin: 0 auto;
}

.custom-booking{
	padding-top:0px !important;
	.v-toolbar{
		box-shadow: none !important;
	}
	.v-toolbar__content {
		height: auto !important;
		margin-bottom: 5px !important;
	}
	.layout-booking {
		margin-bottom: -36px !important;
		.header-booking {
			margin-top:15px !important;
		}
	}

	.header-booking-timezone{
		.v-input__control{
			margin-left:24px !important;
		}

		.v-text-field {
			top:-18px !important;
		}
	}
}

.dialog-date{
	
	box-shadow: 0px 0px 50px 0px #d0d0d0 !important;
	
}

@media (max-width: 767px) {
    .row-changepass{
		width: 60%;
		margin: 0 auto;
	}
}

@media (max-width: 565px) {
    .row-changepass{
		width: 70%;
		margin: 0 auto;
	}
}

.custom-table{
	thead th:not(:nth-child(1)){
		padding: 0 13px !important;
	}
}

.width-input{
  .v-input__slot{
    min-width: 140px !important;
    width: 140px !important;
    text-align:left !important;
  }
}

.custom-table-zoom {
	table.v-table thead td:not(:nth-child(1)), table.v-table tbody td:not(:nth-child(1)), table.v-table thead th:not(:nth-child(1)), table.v-table tbody th:not(:nth-child(1)), table.v-table thead td:first-child, table.v-table tbody td:first-child, table.v-table thead th:first-child, table.v-table tbody th:first-child {
	    padding: 0 4px;
	}
}

.custom-table-customer{
	.margin-left{
    	padding-left: 0px !important;
    	margin-left: 0px !important;
    }
    .th-margin{
    	text-align:left !important;
    }

    .btn-customer {
		margin-left: 0px !important;
	}
}

@media (max-width: 1366px) {
    .action-width{
		text-align:center;
		margin-left:5px;
		padding: 0px 10px !important;
	}
}

.action-width{
	text-align:center;
	margin-left:5px;
	padding: 0px 10px !important;
}

.btn-customer{
	min-width: 100px;
}

.height-input-customer{
  .v-input__slot{
    min-height: 40px !important;
    height:40px !important;
    top: 9px !important;
    position: relative;
	}
}
.fix-contain-text-field{
	.v-input__slot{
    	align-items: end !important;
  	}
}

.custom-height-package{
  .v-input__slot{
    min-height: 40px !important;
    height: 40px !important;

  }
  input, .v-select__slot{
    position:relative;
    top: -10px;
  }
  .v-input__append-inner{
  margin-top:0px !important;
  }
}


.custom-table-sale{
	thead th:not(:nth-child(1)){
		padding: 0 10px !important;
	}
}

.custom-height-td-package{
	padding:0px 0px !important;
	.custom-height-package{
	  .v-input__slot{
	    min-height: 40px !important;
	    height: 40px !important;
	  }
	  input, .v-select__slot{
	    position:relative;
	    top: -10px;
	    margin-top: 0px !important;
	  }
	}
}
.custom-height-td-package{
	padding:0px 0px !important;
}

.center-input-customer{
	.v-input__slot {
	    margin: 0px auto;
	}
	.v-text-field__slot input{
		margin-top: inherit;
	}
}

.custom-v-icon{
	line-height:unset !important;
	margin-top: 4px !important;
	font-size:16px;
}

.custom-v-select{
	.height-input-customer {
		.v-select__selections {
			padding-top: 0px !important;
			font-size:15px !important;
		}
		.v-input__append-inner{
			margin-top: 6px !important;
		}
	}

}

.custom-btn{
   	display:block;
  	height: 40px;
  	width: 40px;
  	border-radius: 50%;
  	padding-top: 5px !important;
  	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
	flex: none !important;
}

.grid-template-column{
	grid-template-columns: none !important;
}

.custom-stats-card{
	.v-card__text {
		padding: 10px 15px !important;
	}

	.v-input .v-text-field{
		padding-top: 5px !important;
	}
}

.fix-croll-container{
	overflow:hidden !important;
}

.app-card{
	box-shadow: none !important;
}

.btn-primary{
	 border:none !important;
}

.btn-add {
	padding-top:1px !important;
}


.custom-flex-appcard{
	.app-card-content {

	display: flex !important;
	height: 80px !important;
	}
}

.fix-flex-photographer{
	margin-left:30px !important;
}

.search-photographer{
	color:black;
	.v-input__slot {
		background-color:white !important;
		color:black;
	}
	.v-input__control{
		.v-text-field__slot input{
			color: black;
		}

	}
}

.custom-profile-body{
	.layout {
		.flex{
			display: grid !important;
		}
	}
}

.btn-add-photographer{
	.v-btn {
		width: 115px !important;
		right: 0px;
	    position: absolute;
	    margin-right: 45px;
	}
}

.media-image {
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top:5px;
}


.active-list-title{
	background: rgba(0,0,0,0.05);
}

.label-mb-0{
	label{
		margin-bottom: 0 !important;
	}
}

.heigth-list-title {
	.v-list__tile {
		height: auto !important;
	}
	.custom-content-flex {
		padding-top: 10px;
		height: auto !important;
		.v-text-field {
			padding-top:0px !important;
		}
		.v-input__control{
			width: 40px !important;
		}
	}
}	

.custom-height-75{
	.v-list__tile {
		padding: 15px 16px !important;
	    height: auto !important;
	}
}

.custom-container-sp{
	padding: 0px !important;
}

.custom-app-card{
	.app-card-content{
		padding:0px !important;
	}
	.v-flex-sp-l{
		float:left;
	}
	.v-flex-sp-r{
		float:right;
		.select-languages{
			display: -webkit-inline-box;
			padding:0px !important;
		}
	}

	.line-flex{
		background-color: #7d7d7d;
    	height: 2px;
    	width: 100%;
 
    	margin: 30px 0px;
	}
	.photo-selected{
		width:100%;
		margin:0 auto !important;
		 
		.d-flex{
			flex-direction: column;
			padding:0px 10px;
			.parent-select-detail {
				margin-top:10px ;
			}
			.custom-grid-item{
				.content-info{
					right: 17px;
				    top: 17px;
				    float: right;
				    position: absolute;
				}
				.hover-image{
					border:none;
				}
				.hover-image:hover{
					opacity: 0.5;
				}
			}

			.icon-frame-photo{
				padding: 0px 13px;
				margin-top:10px;

			}
			
		}
	}
}

.v-toolbar{
	.font-material-header{
		font-size:40px !important;
	}
}

.cursor-v-card{
	cursor: pointer;
}

.hover-v-card{
	background-color: #e4e4e4 !important;
}

.flex-v-number{
	.v-input{
		margin-top: 26px;
		.v-input__slot{
			padding:0px !important;
		}
		.v-input__control{
			min-height: 38px !important;
		}
		.v-text-field__slot{
			margin: 0px 5px;
		}
	}
}

.v-window-item{
	.v-carousel__item{
		margin: 0 auto !important;
	}	
}

.custom-carousel{
	background-color: white;
	.v-carousel__prev{
		.v-btn {
			background: rgba(0,0,0,0.5);
		}
	}

	.v-carousel__next{
		.v-btn {
			background: rgba(0,0,0,0.5);
		}
	}
}

.v-dialog__content{
	.v-dialog--active{
		max-height: 100%;
	}
}

#mylightbox{
	.lightbox{
		background: rgba(0, 0, 0, 0.7);
	}
	.lightbox-main{
		.lightbox-image{
			width: 80%;
		    margin: 0 auto;
		    height: 100%;
		}
	}
}

.v-dialog__content{
	.v-dialog-package{
		width: 1000px !important;
		height: auto !important;
	}
	.v-dialog{
		.container-package-ramdom{
			background-color: white;
			/*border: 1px solid black;*/
		    padding: 40px 20px !important;
		    .layout {
		    	flex-wrap:nowrap !important;
		    }
		    &--flex{    	
    			padding: 0px !important;
    			box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.48);
    			margin: 0px 20px;
    			.white--text{
    				margin: 0 auto;
    			}
    			.app-full-content {
    				.font-xl{
    					font-size:30px !important;
    				}
    				sub{
    					color:red !important;
    					font-size: 30px;
    					text-decoration: line-through;
    					font-weight: normal;
    				}
    				.font-3x{
    					font-size: 2rem;
    				}

    				.list-group-item{
    					border-bottom: 1px solid #e0e0e0;
    					border-top: 1px solid #e0e0e0;
    				}

    			}
    			.app-card{
    				.app-footer{
    					border-top:none !important;
    				}
    			}
    		}
		}
	}
	.v-dialog-custom{
		.v-card{
			overflow: hidden;
		}
		.flex-v-number{
			.v-text-field{
				.v-text-field__slot{
					input {
						text-align:center;
					}
				}
				
			}
		}
		.container{
			margin-left: 12px;
			.layout{
				.cursor-v-card{
					height: 75%;
				    top: 7px;
				    text-align: center;
				    border-radius: 3px;
				    .v-card__text{
				    	margin-top: 0px !important;
		    			padding: 7px 0px !important;
				    }
				}
			}
		}
		
	}
}

.custom-toolbar{
	.v-toolbar__content{
		height: auto !important;
		.v-toolbar__items{
			margin-top:10px !important;

		}
		.v-btn__content{
			flex-direction: column;
		}
	}
}

.custom-dialog-customer{
    float: right !important;
    top: 53px !important;
    position: absolute;
    right: 0px;
    min-width: 430px !important;
    .v-card {
    	.custom-divider{
    		border-color: #424242 !important;
    	}
    }
	.v-card__title{
		&--profile {
			padding: 4px !important;
			.v-btn{
				right:12px !important;
				position: absolute;
			}
		}
		
	}
	.v-card__actions{
		padding-bottom: 15px !important;
		span{
			font-size: 16px !important;
		}
	}
}

.custom-dialog-download{
	box-shadow: 0px 0px 5px 0px #68696b !important;
	float: right !important;
    position: absolute;
    right: 0px;
    min-width: 430px !important;
    bottom:53px;

    .v-list__tile{
    	background-color: #0642a3 !important;
    	color: white;
    	.r-download {
    		.v-btn {
    			color:white !important;
    			.fz-arrow-down {
    				font-size:30px !important;
    			}
    		}
    	}
    }

    .v-list{
    	&--header-customer{
    		padding:10px 0px;
    		display: flex;
    		.r-progress{
    			right:10px;
    			position: absolute;
    			.v-progress-circular{
    				height: 20px !important;
    				width: 20px !important;
    			}
    		}
    	}
    }
}

/*.select-languages{
	.v-menu__content{
	z-index: 101 !important;
}
}
*/

.custom-dialog-basket{
	background-color: white !important;
}
