.custom-app-card{
	.app-card-content{
		padding:0px !important;
		.v-card__text{
			.color-blue-shopselling{
				background-color: #00C1F8 !important;
			}
		}
	}
	.v-flex-sp-l{
		float:left;
	}
	.v-flex-sp-r{
		float:right;
		.select-languages{
			display: -webkit-inline-box;
			padding:0px !important;
		}
	}

	.line-flex{
		background-color: #7d7d7d;
    	height: 2px;
    	width: 100%;
 
    	margin: 30px 0px;
	}
	.photo-selected{
		width:100%;
		margin:0 auto !important;
		 
		.d-flex{
			flex-direction: column;
			padding:0px 10px;
			.parent-select-detail {
				margin-top:10px ;
			}
			.custom-grid-item{
				.content-info{
					right: 17px;
				    top: 17px;
				    float: right;
				    position: absolute;
				}
				.hover-image{
					border:none;
				}
				.hover-image:hover{
					opacity: 0.5;
				}
			}

			.icon-frame-photo{
				padding: 0px 13px;
				margin-top:10px;

			}
			
		}
	}
}

.v-toolbar{
	.font-material-header{
		font-size:40px !important;
		color: #70778F !important;
	}
}

.cursor-v-card{
	cursor: pointer;
}

.hover-v-card{
	background-color: #e4e4e4 !important;
}

.flex-v-number{
	.v-input{
		margin-top: 26px;
		.v-input__slot{
			padding:0px !important;
		}
		.v-input__control{
			min-height: 38px !important;
		}
		.v-text-field__slot{
			margin: 0px 5px;
		}
	}
}

.v-window-item{
	.v-carousel__item{
		margin: 0 auto !important;
	}	
}

.custom-carousel{
	background-color: white;
	.v-carousel__prev{
		.v-btn {
			background: rgba(0,0,0,0.5);
		}
	}

	.v-carousel__next{
		.v-btn {
			background: rgba(0,0,0,0.5);
		}
	}
}

.v-dialog__content{
	.v-dialog--active{
		max-height: 100%;
	}
}

#mylightbox{
	.lightbox{
		background: rgba(0, 0, 0, 0.7);
	}
	.lightbox-main{
		.lightbox-image{
			width: 80%;
		    margin: 0 auto;
		    height: 100%;
		}
	}
}

.v-dialog__content{
	.v-dialog-package{
		width: 1000px !important;
		height: auto !important;
	}
	.v-dialog{
		.container-package-ramdom{
			background-color: white;
			/*border: 1px solid black;*/
		    padding: 40px 20px !important;
		    .layout {
		    	flex-wrap:nowrap !important;
		    }
		    &--flex{    	
    			padding: 0px !important;
    			box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.48);
    			margin: 0px 20px;
    			.white--text{
    				margin: 0 auto;
    			}
    			.app-full-content {
    				.font-xl{
    					font-size:30px !important;
    				}
    				sub{
    					color:red !important;
    					font-size: 30px;
    					text-decoration: line-through;
    					font-weight: normal;
    				}
    				.font-3x{
    					font-size: 2rem;
    				}

    				.list-group-item{
    					border-bottom: 1px solid #e0e0e0;
    					border-top: 1px solid #e0e0e0;
    				}

    			}
    			.app-card{
    				.app-footer{
    					border-top:none !important;
    				}
    			}
    		}
		}
	}
	.v-dialog-custom{
		.v-card{
			overflow: hidden;
		}
		.flex-v-number{
			.v-text-field{
				.v-text-field__slot{
					input {
						text-align:center;
					}
				}
				
			}
		}
		.container{
			margin-left: 12px;
			.layout{
				.cursor-v-card{
					height: 75%;
				    top: 7px;
				    text-align: center;
				    border-radius: 3px;
				    .v-card__text{
				    	margin-top: 0px !important;
		    			padding: 7px 0px !important;
				    }
				}
			}
		}
		
	}
}

.custom-toolbar{
	.v-toolbar__content{
		height: auto !important;
		background-color:white !important;
		border-bottom: 2px solid;
		border-color: #70778F !important;
		.v-toolbar__items{
			margin-top:10px !important;

		}
		.v-btn__content{
			flex-direction: column;
		}

		.icon-color{
			color:#70778F !important;
		}
	}

}

.custom-dialog-customer{
    float: right !important;
    top: 53px !important;
    position: absolute;
    right: 0px;
    min-width: 430px !important;
    .v-card {
    	.custom-divider{
    		border-color: #424242 !important;
    	}
    }
	.v-card__title{
		&--profile {
			padding: 4px !important;
			.v-btn{
				right:12px !important;
				position: absolute;
			}
		}
		
	}
	.v-card__actions{
		padding-bottom: 15px !important;
		span{
			font-size: 16px !important;
		}
	}
}

.custom-dialog-download{
	box-shadow: 0px 0px 5px 0px #68696b !important;
	float: right !important;
    position: absolute;
    right: 0px;
    min-width: 430px !important;
    bottom:53px;

    .v-list__tile{
    	background-color: #00C1F8 !important;
    	color: white;
    	.r-download {
    		.v-btn {
    			color:white !important;
    			.fz-arrow-down {
    				font-size:30px !important;
    			}
    		}
    	}
    }

    .v-list{
    	&--header-customer{
    		padding:10px 0px;
    		display: flex;
    		.r-progress{
    			right:10px;
    			position: absolute;
    			.v-progress-circular{
    				height: 20px !important;
    				width: 20px !important;
    			}
    		}
    	}
    }
}

/*.select-languages{
	.v-menu__content{
	z-index: 101 !important;
}
}
*/

.custom-dialog-basket{
	background-color: white !important;
	top: 248px !important;
    position: absolute;
    margin: 0px !important;
}

/*room*/

.room-margin{
	margin: 0 auto !important;
	background-image: url("http://mrdan.com/wp-content/uploads/2018/03/Background-Services-Home-Page-compressed.jpg");
	background-color: #68c2ff;
	
	/*overflow: none;
	padding: 30px 0px !important;*/
	height: 100vh;
	width: 100vw;
}

.card-around {
	 width: 800px;
    height: 800px;
	background: #6fbdf2 !important;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    --border-radius: 25px;
    border-radius: 25px;
    padding: 7px 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
   	margin: 0 auto;
    .v-list-title--room {
    	position: absolute;
    	z-index: 999;
    	bottom: 100px !important;
    	margin-left:15px;
    	.v-input__control{
    		.v-input__slot{
    			background-color: white !important;
    			width: 300px !important;
    			border: none;

    			input {
    				text-align: center;
    			}
    			
    		}
    	}
    }
}

.v-list__tile__avatar--wh  {
		margin:40px 0px !important;
		.v-avatar{
			height: 700px !important;
			width: 700px !important;
			margin: 0 auto !important;
			.v-image{
				flex: 0 0 auto !important;
			}
			.layout-position {
					margin-top:70px !important;
					position: absolute;
    				z-index: 999;
				.flex-line-room-left {
					float: left;
				    left: 154px !important;
				    position: absolute;
				}
				.flex-line-room-right {
					float: right;
				    right: 350px !important;
				    position: absolute;
				}
				.mt-160{
					margin-top:160px !important;
				}
			}
		}
}

.booking-app-card{
	height: 100vh;
	overflow: hidden;
}

/**Booking**/
.header-confirm-booking{
	background-color: #00C1F8;
	color:white;
}
.body-booking{
	.box-body-booking{

	    box-shadow: 0 0 10px grey;
	    border-radius: 5px;
	    background-color: #f4f4f4;
	}
	/*.flex-9{
		display: flex;*/
		.body-booking-p-left{
			width: 350px;	
		}
		.body-booking-p-right{
			width: 260px;	
		}
		.container-content-image-booking{
			margin: 0px !important;
		}
		.content-title-booking{
			    text-align: center;
			    margin-top: 30px;
			    background-color: gainsboro;
			    padding: 13px 0px;
			   /* margin: 30px 50px 0px 50px;*/
			    border-radius: 5px;
			    height: 50px;
			    margin-bottom: 30px;
			    font-size:20px;

		}
		.content-footer-booking{
		    margin-top: 30px;
		    background-color: gainsboro;
		    padding: 13px 0px;
		    height: 50px;
		    margin-bottom: 30px;
		    display: inline-flex;
    		justify-content: space-between;
    		width: 100%;
    		&--left{
    			margin-left: 10px;
    			font-weight: bold;
    		}
    		&--right{
    			margin-right: 10px;
    			font-weight: bold;

    		}
		}
		.content-table-booking{
			margin-top:30px !important;
		}
		table {
			background-color: gainsboro;
			.th-formate{
				left:10px;
				position: relative;
				&--td{
					left:10px;
					position: relative;
				}
			}
			.th-quantity{
				text-align:center;
				&--td{
					text-align: center;
				}
			}
			.th-cost{
				float: right;
			    right: 12px;
			    position: relative;
				&--td{
					
				    left: 30px;
				    position: relative;
				}
			}
			
		}
	/*}*/
	.flex-3{
		display: flex;
		.content-confirm-booking{
			width: 100vw;
			
			box-shadow: 0 0 5px grey;
			.layout-content-confirm-booking{
				justify-content: center;
			}
			.container-content-confirm-booking{
				padding:30px 0px !important;
				margin-top:25px;
			}
			.content-confirm-booking--btn{
				margin-top:5px !important;
				.btn-finish-booking{
					background-color: #00C1F8 !important;
				}

			}
			&--left{
				background: #00C1F8;
			    padding-right: 0px;
			    height: 50px;
			    border-right: 1px #f5f1f1 solid;
			    text-align: center;
			    &--icon {
			    	font-size:20px;
			    	color:white;
			    	padding:10px 0px;
			    }
			}
			&--right{
				margin-left:5px;
			}
		}
	}
	
}





